.header {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  margin-top: 93px;
}

.nav-menu {
  display: flex;
  gap: 33px;
  list-style-type: circle;
  margin-left: 50px;
  margin-bottom: 6px;
}

.nav-menu-item-no-marker {
  list-style: none;
}

.nav-menu-link {
  font-size: 18px;
  text-transform: lowercase;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: inherit;
}

.header-link {
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
}

.nav-menu_link-active {
  text-decoration: none;
}

.header-logo {
  display: block;
  justify-self: center;
  grid-column: 2;
}

.header-logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  font-style: normal;
  margin-right: 86px;
  line-height: 1.35;
  margin-bottom: 6px;
}
.address-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  align-items: flex-start;
  font-style: normal;
  text-decoration-thickness: 1.5px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 160px;
  gap: 100px;
  color: #fff;
  background: url("../images/cover.jpg") no-repeat center / cover;
  line-height: 1.15;
  margin-top: 91px;
  min-height: 757px;
}

.cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 0;
}

.aligned-text-center {
  text-align: center;
  margin-top: 8px;
  margin-left: 29px;
}

.aligned-text-right {
  text-align: right;
  margin-top: 14px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover-title {
  z-index: 1;
  position: relative;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover-title-text:first-of-type {
  line-height: 1.2;
}

.cover-description {
  padding: 0 50px 50px 19px;
  z-index: 1;
  position: relative;
  display: flex;
  gap: 107px;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 18.5px;
  margin-bottom: 2px;
}

.bet-button {
  padding: 11px 32px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  padding: 179px 24px 120px;
}

.lots-header {
  font-size: 40px;
  color: #000;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots-cards {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.lots-cards-item {
  flex: 1;
  min-width: 250px;
  min-height: 596px;
  max-width: 334px;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  width: 100%;
  min-height: 596px;
  overflow: hidden;
  border-radius: 0;
  height: 100%;
}

.card-content {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding-bottom: 48px;
}

.card-type-film {
  background: url("../images/card-lot-01.jpg") center / cover;
}

.card-type-book {
  background: url("../images/card-lot-02.jpg") center / cover;
}

.card-type-picture {
  background: url("../images/card-lot-03.jpg") center / cover;
}

.card-title {
  font-size: 22px;
  margin: 0;
  font-weight: bold;
  white-space: normal;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-text {
  font-size: 20px;
  margin: 0;
  align-self: flex-end;
  overflow: visible;
  white-space: normal;
  line-height: 1.2;
}

.lots-more {
  display: inline-block;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
  margin-top: 30px;
  margin-left: 39px;
}

.about {
  display: grid;
  grid-template-areas:
    "logo header"
    ". about-text";
  grid-template-columns: auto 1fr;
  gap: 4px 71px;
  padding-top: 36px;
  padding-right: 50px;
}

.about-logo {
  grid-area: logo;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 72px;
}

.about-img {
  width: 149px;
  height: 116px;
}

.about-header {
  grid-area: header;
  justify-self: start;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  align-self: center;
}

.about-text {
  grid-area: about-text;
  font-size: 20px;
  line-height: 1.2;
}

.text-top {
  overflow-wrap: break-word;
  font-size: 20px;
  margin: 0px 0 24px 0;
}

.footer {
  background-color: #ffffff;
  color: #000000;
  margin-top: 180px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.4;
  margin-left: 50px;
}

.footer-phone-email {
  margin: 0;
  margin-left: 50px;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-color: #000;
}
.footer-address {
  line-height: 1.3;
  font-size: 18px;
}
.footer-link {
  text-decoration-thickness: 1px;
}

.footer-nav {
  text-align: center;
  font-size: 14px;
  margin-top: 4px;
  line-height: 0.98;
  margin-left: 4px;
}

.footer-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 87px;
}

.footer-nav-item {
  margin-bottom: 3px;
}

.footer-social {
  display: flex;
  gap: 48px;
  margin-right: 50px;
}

.social-icon {
  width: 48px;
  height: 48px;
  display: block;
}
