.header {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

.nav-menu {
  display: flex;
  gap: 33px;
  list-style-type: circle;
  margin-left: 50px;
  margin-bottom: 6px;
}

.nav-menu__item--no-marker {
  list-style: none;
}

.nav-menu__link {
  font-size: 18px;
  text-transform: lowercase;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: inherit;
}

.nav-menu__link--active {
  text-decoration: none;
  text-decoration-thickness: 1px;
}

.header-logo {
  display: block;
  justify-self: center;
  grid-column: 2;
}

.header-logo-image {
  width: 148px;
  height: 105px;
}

.header-address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  font-style: normal;
  margin-right: 86px;
  line-height: 1.35;
  margin-bottom: 6px;
}
.address-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  align-items: flex-start;
  font-style: normal;
  text-decoration-thickness: 1px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  margin-top: 90px;
  min-height: 757px;
  background: url("../images/cover.jpg") no-repeat center / cover;
}

.cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 0;
}

.cover-title {
  display: grid;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "it . ."
    ". you ."
    ". . need";
  margin-top: 163px;
  margin-left: 50px;
  gap: 0px 14px;
}

.cover-title-text {
  font-size: 100px;
  grid-area: it;
  letter-spacing: 0.3em;
}

.cover-title-text-center {
  font-size: 100px;
  grid-area: you;
  letter-spacing: 0.3em;
  margin-top: 7px;
  text-align: center;
}

.cover-title-text-bottom {
  grid-area: need;
  letter-spacing: 0.3em;
  transform: translateX(-99px);
  margin-top: 12px;
  font-size: 100px;
}

.description {
  display: flex;
  z-index: 1;
  align-items: center;
  margin-bottom: 50px;
  box-sizing: border-box;
  color: #ffffff;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 22px;
  margin-left: 50px;
  white-space: nowrap;
  word-spacing: 18.5px;
}

.desc-text {
  z-index: 2;
  margin: 0;
  margin-top: 5px;
}

.button {
  z-index: 2;
  background-color: transparent;
  color: white;
  border: 1px solid #ffffff;
  flex-shrink: 0;
  text-transform: uppercase;
  padding: 12px 31px;
  margin-left: 107px;
}

.lots {
  padding: 181px 24px 120px;
}

.lots-header {
  font-size: 40px;
  color: #000;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots-cards {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.lots-cards-item {
  flex: 1;
  min-width: 250px;
  min-height: 596px;
  max-width: 334px;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  width: 100%;
  min-height: 596px;
  overflow: hidden;
  border-radius: 0;
  height: 100%;
}

.card-content {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding-bottom: 48px;
}

.card-type-film {
  background: url("../images/card-lot-01.jpg") center / cover;
}

.card-type-book {
  background: url("../images/card-lot-02.jpg") center / cover;
}

.card-type-picture {
  background: url("../images/card-lot-03.jpg") center / cover;
}

.card-title {
  font-size: 22px;
  margin: 0;
  font-weight: bold;
  white-space: normal;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-text {
  font-size: 20px;
  margin: 0;
  align-self: flex-end;
  overflow: visible;
  white-space: normal;
  line-height: 1.2;
}

.lots-more {
  display: inline-block;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
  margin-top: 30px;
  margin-left: 39px;
}

.about {
  display: grid;
  grid-template-areas:
    "logo header"
    ". about-text";
  grid-template-columns: auto 1fr;
  gap: 4px 71px;
  padding-top: 36px;
  padding-right: 50px;
}

.about-logo {
  grid-area: logo;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 72px;
}

.about-img {
  width: 149px;
  height: 116px;
}

.about-header {
  grid-area: header;
  justify-self: start;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  align-self: center;
}

.about-text {
  grid-area: about-text;
  font-size: 20px;
  line-height: 1.2;
}

.text-top {
  overflow-wrap: break-word;
  font-size: 20px;
  margin: 0px 0 24px 0;
}

.footer {
  background-color: #ffffff;
  color: #000000;
  margin-top: 180px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.4;
  margin-left: 50px;
}

.footer-phone-email {
  margin: 0;
  margin-left: 50px;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-color: #000;
}
.footer-address {
  line-height: 1.3;
  font-size: 18px;
}

.footer-nav {
  text-align: center;
  font-size: 14px;
  margin-top: 4px;
  line-height: 0.98;
  margin-left: 4px;
}

.footer-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav-item {
  margin-bottom: 4px;
}

.footer-social {
  display: flex;
  gap: 48px;
  margin-right: 50px;
}

.social-icon {
  width: 48px;
  height: 48px;
  display: block;
}
